
<f:layout name="Default" />

<f:section name="main">

<f:flashMessages renderMode="div" />

<div id="extension-uid{extension.uid}" class="show-extension">
	<div class="header">
		<h2 class="title">{extension.title} ({extension.extensionKey})</h2>
		<span class="author">by {extension.AuthorName}<f:if condition="{extension.authorCompany}"> ({extension.authorCompany})</f:if></span><br/><br/>
	</div>
	<div class="information">
		<p class="description"><b>Description:</b><br/>{extension.description}</p>
	</div>
	<f:for each="{versions}" as="version">
		<div class="history {f:if(condition:'{0: extension} == {0: version}', then: 'selected')}">
			<p class="version"><b>Version:</b><br/>{version.version} ({version.state})</p>
			<p class="date"><b>Date:</b><br/><f:format.date date="{version.lastUpdated}" format="d.m.Y H:i"/></p>
			<p class="update-comment"><b>Update comment:</b><br/>{version.updateComment}</p>
		</div>
	</f:for>
</div>
<f:link.action action="show" arguments="{extension: extension}">Back to extension</f:link.action>
</f:section>